<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body id="body_agent">
    <div id="content">
      <div id="header">
        <h1 id="header_agent"><%= agentId %> @ Room #<%= roomId %></h1>
      </div>
      <div id="messages_agent"></div>
      <div id="footer">
        <form id="form_agent" name="form_agent" action="">
          <input id="input_agent" autocomplete="off"/>
          <input type="hidden" name="user_type" id="user_type" value="agent" />
          <input type="hidden" name="room_id_agent" id="room_id_agent" value=<%= roomId %> />
          <input type="hidden" name="agent_id_agent" id="agent_id_agent" value=<%= agentId %> />
          <input type="submit" id="btn_send_agent" value="Send" />
          <input type="submit" id="btn_done_agent" value="Done" />
        </form>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.js" integrity="sha256-5i/mQ300M779N2OVDrl16lbohwXNUdzL/R2aVUXyXWA="   crossorigin="anonymous"></script>
    <script src="/js/chat.js" type="text/javascript"></script>
    </body>
</html>
