<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body id="body-agent">
    <div id="content">
      <div id="header">
        <h1 id="header-agent"><%= agent_name %> @ <%= room_id %></h1>
      </div>
      <div id="messages-agent"></div>
      <div id="footer">
        <form id="form-agent" name="form-agent" action="">
          <input id="input-agent" autocomplete="off"/>
          <input type="hidden" name="user_type" value="agent" />
          <input type="hidden" name="room_id" value=<%= room_id %> />
          <input type="submit" id="btn-send-agent" value="Send" />
          <input type="submit" id="btn-done-agent" value="Done" />
        </form>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.js" integrity="sha256-5i/mQ300M779N2OVDrl16lbohwXNUdzL/R2aVUXyXWA="   crossorigin="anonymous"></script>
    <script src="/js/chat.js" type="text/javascript"></script>
    </body>
</html>
