<html>
  <form method="post" action="/agent">
    <label>Room ID:</label>
    <input type="text" name="room_id"/>
    <input type="submit" value="login">
  </form>
  <label><b>RoomID List</b></label>
  <ul>
    <% lists.forEach(function(item) { %>
      <li class="room_list_item">
        id : <%= item.room_id %> visitor: <%= item.visitor_id %>
      </li>
    <% }); %>
  </ul>
</html>