<html>
  <head>
    <title>Logon</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
  </head>
  <body id="body">
  <br>
  <form method="post" action="/chat">
    <input type="radio" name="userType" value="agent">agent
    <input type="radio" name="userType" value="visitor" checked>visitor
    <input type="text" name="id" />
    <input type="submit" name="logon" value="logon" />
  </form>
  <div id="msg"></div><br>
  <input type="button" name="btn-clear" value="cookie-clear"/>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script>
    $(document).ready(function(){
      let cookies = document.cookie;

      // クッキーの値を表示
      $('#msg').append('Cookie:' + cookies);

      // Cookieクリア
      $(document).on('click', '[name=btn-clear]', function(){
        document.cookie = 'chatId=;max-age=0';
        $('#msg').empty();
        $('#msg').append('Cookie:');
      });

      // ログオン
      $(document).on('click', '[name=logon]', function(){
        let agentHeader = '';
        // if ($('[name=userType]').val() === 'agent') {
        //   agentHeader = 'agent-';
        // }
        // alert(agentHeader);
        if ($('[name=id]').val() != '') {
          document.cookie = 'chatId=' + agentHeader + $('[name=id]').val();
        }
      });
    });
  </script>
</body>
</html>