<html>
<form method="post" action="/create">
    <% for (var i=0; i<data.length; i++) { %>
        <input type="text" name="tbox"/>
        <input type="submit" value="send">
        <input type="text" name="tbox" value="<%= data[0].AGENT_ID %>"/>
        <br>
    <% } %>
</form>
</html>