<html>
<h1>Post Request to Chat Application</h1>
<form method="post" action="/post">
  roomId:<input type="text" name="roomId"/>
  message:<input type="text" name="msg"/>
  <input type="submit" value="send">
</form>
</html>