<!doctype html>
<html>
  <head>
    <title>TestAgentPage</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  <script src="/socket.io/socket.io.js" />
  <script type="text/javascript">

    // var socketio = io.connect('http://localhost:3000/chat/');
    // socket.io.on('publish room id', function(data) { changeRoomId(data.value);});
    // socket.io.on('publish msg', function(data) { addMessage(data.value);});

    // function changeRoomId(data){
    //   $('#header').text(data);
    // }
    
    // function addMessage(data){
    //   $('#message').append("<br>" + data);
    // }
  
  </script>
  <!-- Agent Chat Form -->
  <div class="content" id="content">
    <div id="header" style="font-size: 20px">header</div>
    <div id="message" style="font-size :15px">message</div>
    <div id="footer">
        <input type="hidden" name="roomId" />
        <input type="text" name="message" />
        <input type="button" name="sendMsg" value="send" />
    </div>
  </div>
  </body>
</html>
